useDynLib(fastmatrix, .registration = TRUE)

## our exports:
export(array.mult, braket.prod, dupl.cross, dupl.info, dupl.prod, duplication,
       hadamard, matrix.norm, minkowski, sweep.operator, vec, vech)
