useDynLib(fastmatrix, .registration = TRUE)

## our exports:
export(array.mult, bracket.prod, comm.info, comm.prod, commutation, dupl.cross,
       dupl.info, dupl.prod, duplication, equilibrate, hadamard, matrix.inner,
       matrix.norm, minkowski, power.method, sherman.morrison, sweep.operator,
       vec, vech)
