useDynLib(fastmatrix, .registration = TRUE)

## from "stats" package:
importFrom("stats",
           .getXlevels, coef, complete.cases, logLik, model.matrix, model.response,
           pt, quantile, var)

## Our exports:
export(array.mult, asSymmetric, bezier, bracket.prod, cg, cholupdate, comm.info,
       comm.prod, commutation, constructX, cov.MSSD, cov.weighted, dupl.cross,
       dupl.info, dupl.prod, duplication, equilibrate, extractL, extractU, geomean,
       hadamard, helmert, kurtosis, is.lu, is.lower.tri, is.upper.tri, jacobi,
       kronecker.prod, ldl, lu, lu2inv, Mahalanobis, matrix.inner, matrix.norm,
       mediancenter, minkowski, moments, ols, ols.fit, ols.fit.cg, ols.fit.chol,
       ols.fit.qr, ols.fit.svd, ols.fit.sweep, power.method, ridge, seidel,
       sherman.morrison, skewness, sweep.operator, symm.info, symm.prod, symmetrizer,
       vec, vech, wilson.hilferty, whitening)

# Exported S3 methods
export(lu.default, solve.lu)

## Register S3 methods
S3method(lu, default)
S3method(solve, lu)
S3method(deviance, ols)
S3method(logLik, ols)
S3method(print, ols)
S3method(print, summary.ols)
S3method(summary, ols)
S3method(print, ridge)
